html
  include ../includes/_head.pug
  body
    //- section
    //-   if errors
    //-     div.alert.alert-danger
    //-       each error in errors
    //-         = JSON.stringify(error)
    //-         //- h2= error
    section
      h3 Редактирование товара!
      each findOne in findId
        form(id="additem", method="post", action="/admin/edit/" + findOne._id)

          label(for="description")
          h3 Описание
          textarea(id="description",type="text", name="description", rows="10" cols="40")
            = findOne.description
          br
          label(for="price")
            h3 Цена
          input(id="price",type="number", name="price", value= findOne.price)
          br
          label(for="article")
            h3 Артикул: #{findOne.article}
          //- input(id="article",type="number", name="article", value= findOne.article)
          br
          label(for="url_images")
            h3 Фото
          input(id="url_images",type="file", name="url_images", value= findOne.url_images ,multiple)
          br
          label(for="name_dress")
            h3 Название товара
          input(id="name_dress",type="text", name="name_dress" value= findOne.name_dress)
          br
          label(for="submit")
            h3 Добавить товар
          input(id="submitBtn",type="submit")
